*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
}

.estructuraCaja {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.barraNav {
    display: flex;
    align-items: center;
    background-color:#ff9100 ;
    color: white;
    justify-content: space-between;
    left: 0;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}
.barraNav a {
    color: white;
    font-weight: 500;
    margin: 0 10px;
    text-decoration: none
}
.barraNav a:hover {
    color:#ffcc80
}

.barraNav2 {
    display: flex;
    align-items: center;
    background-color:white;
    justify-content: center;
    padding: 15px 0;
}
.barraNav2 a {
    border: 1px solid #ccc;
    border-radius: 25px;
    color: #333;
    margin: 0 15px;
    padding: 8px 16px;
    text-decoration: none;
}
.barraNav2 a:hover {
background-color: #ff9100;
color: white;
}

.botonEnlace {
    display: inline-block;
    background-color: #ff9100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.botonEnlace a {
    color: #111;
    text-decoration: none;
}
.botonEnlace a:hover {
    color: #ffcc80;
    text-decoration: none;
}

.formularioDiseño{
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}
.formularioDiseño h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.formularioDiseño p {
    color: #666;
    margin-bottom: 20px;
}
.formularioDiseño fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}
.formularioDiseño label{
    display: block;
    margin-top: 5px;
}

.formularioBoton {
    background-color: #ff9100;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

footer {
    background-color: #ddd;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}

@media (max-width: 400px) {
    .barraNav2 {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    *{
        font-size: 24px;
    }

    .botonEnlace{
        padding: 6px 12px;
    }

    .formularioDiseño{
        padding: 20px;
    }

    footer{
        padding: 10px;
    }

}

@media (min-width:1024px) {
    * {
        font-size: 28px;
    }
}
